@page
@model Bookstore.Pages.PurchaseCompleteModel
@{
}

<div class="center">
    <h2>Thanks for your purchase! Your books will arrive shortly</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>

